[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = https://bitbucket.org/hickeyjohnteam/alphacmakefiles.git
[submodule "alphahouse"]
	path = alphahouse
	url = https://bitbucket.org/hickeyjohnteam/alphahouse.git
[submodule "alphaimpute"]
	path = alphaimpute
	url = https://bitbucket.org/hickeyjohnteam/alphaimpute.git
